:sidebar_menu {
    --sidebar-background: #f6f6f6;
    --sidebar-border-color: #f6f6f6;
    --sidebar-name-font-weight: 700;
    --heading-h2-font-weight: 650;
    --sidebar-transition-duration: 250ms;
    --sidebar-width: 19rem;
    --sidebar-padding: 0 40px;
    --sidebar-nav-link-border-style: dotted;
    --sidebar-background: #f2f2f2;
    --base-background-color: #f2f2f2;
    --sidebar-toggle-background: rgba(255, 255, 255, 0);
}

.sidebar-nav p * {
    font-family: 'Inter', sans-serif;
}

.sidebar-nav strong {
    font-family: 'Manrope', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 800;
}

.sidebar {
    box-shadow: 20px 20px 60px #cecece3e,
                -20px -20px 60px #ffffff;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.sidebar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.markdown-section {
    padding-top: 3.5rem;
}
